{% extends 'base.html' %}


{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Homeworld</th>
      </tr>
    </thead>
    <tbody>
      {% for row in data %}
        <tr>
          <td>{{row[1]}}</td>
          <td>{{row[2]}}</td>
          <td>{{row[3]}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
$(document).ready( function () {
    $('#data').DataTable();
} );
  </script>
{% endblock %}